<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Henderson Construction | Welcome</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="../../../media/pages/assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../../media/pages/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../../media/pages/assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="../../../media/pages/assets/img/favicons/favicon.ico">
    <link rel="manifest" href="../../../media/pages/assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="../../../media/pages/assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="../../../media/pages/assets/lib/loaders.css/loaders.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Mono%7cPT+Serif:400,400i%7cLato:100,300,400,700,800,900"
        rel="stylesheet">
    <link href="../../../media/pages/assets/lib/remodal/remodal.css" rel="stylesheet">
    <link href="../../../media/pages/assets/lib/remodal/remodal-default-theme.css" rel="stylesheet">
    <link href="../../../media/pages/assets/lib/owl.carousel/owl.carousel.css" rel="stylesheet">
    <link href="../../../media/pages/assets/lib/jquery.mb.ytplayer/jquery.mb.YTPlayer.min.css" rel="stylesheet">
    <link href="../../../media/pages/assets/css/theme.css" rel="stylesheet">

</head>

    <script>
            function closeNav() 
		{document.getElementById("myNav").click();}
    </script>

    <style type="text/css">
        .mobileHide { display: inline; }

  	/* Smartphone Portrait and Landscape */
  	@media only screen
    	and (min-device-width : 320px)
    	and (max-device-width : 480px){
     	.mobileHide { display: none;}
  	}
    </style>


    <style type="text/css">
    	.mobileshow {
    	display:none;
    	}
    	@media only screen
    	and (max-width: 500px) {
    	.mobileshow {
    	display:block; }
    	}
    </style>

<body class="has-sidemenu overflow-hidden-x">

    <!--===============================================-->
    <!--    Fancynav-->
    <!--===============================================-->
    <nav class="fancynavbar" 
        data-zanim-lg='{"from":{"opacity":1,"x":70},"to":{"opacity":1,"x":0},"ease":"CubicBezier","duration":0.8,"delay":0.3}'
        data-zanim-xs='{"from":{"opacity":1,"y":-48},"to":{"opacity":1,"y":0},"ease":"CubicBezier","duration":0.8,"delay":0.3}'
        data-zanim-trigger="scroll" data-exclusive="true">
        <div class="fancynavbar-togglerbar" data-onscroll-fade-in="data-onscroll-fade-in">
            <a class="fancynavbar-brand" href="." >
                <img class="fancynavbar-brand-img" src="../../../media/logos/nav-logo.png" alt=""
                    width="40" height="40"
                    data-zanim-lg='{"from":{"opacity":0,"x":45},"to":{"opacity":1,"x":0},"ease":"CubicBezier","duration":0.8,"delay":0.4}'
                    data-zanim-trigger="scroll" />
	    </a>

            <div class="fancynavbar-toggler"  id="myNav">
                <svg class="fancynavbar-toggler-icon" viewBox="0 0 70 70" xmlns="http://www.w3.org/2000/svg" 
                    data-zanim-lg='{"from":{"opacity":0,"x":45},"to":{"opacity":1,"x":0},"ease":"CubicBezier","duration":0.8,"delay":0.5}'
                    data-zanim-trigger="scroll" 
                    >
                    <path id="path-top"
                        d="M20,25c0,0,22,0,30,0c16,0,18.89,40.71-.15,21.75C38.7,35.65,19.9,16.8,19.9,16.8"></path>
                    <path id="path-middle" d="M20,32h30"></path>
                    <path id="path-bottom"
                        d="M19.9,46.98c0,0,18.8-18.85,29.95-29.95C68.89-1.92,66,38.78,50,38.78c-8,0-30,0-30,0">
                    </path>
                </svg>
            </div>

	    <div class="fancynavbar-addon"
                data-zanim-lg='{"from":{"opacity":0,"x":45},"to":{"opacity":1,"x":0},"ease":"CubicBezier","duration":0.8,"delay":0.4}'
                data-zanim-trigger="scroll">
                <a class="fancynavbar-addon-item" href="{{social_media.facebook_link}}"><span
                                    class="fab fa-facebook-f"></span></a>
                <a class="fancynavbar-addon-item" href="{{social_media.instagram_link}}"><span
                                    class="fab fa-instagram"></span></a>
            </div>
        </div>

        <div class="fancynavbar-collapse" >
        
           <ul class="fancynavbar-nav mobileshow" >
                <li class="fancynav-item">
                    <a class="fancynav-link" href="."><span
                            class="fancynav-link-content"
                            style="color: #fff;">Home</span></a>
                </li>
                <li class="fancynav-item" onclick="closeNav();" >
                   
			<a class="fancynav-link" href="#default-services" onclick="closeNav();"  ontouchstart="closeNav();" ><span
					     
                         class="fancynav-link-content"
                         style="color: #fff">Services</span></a>

                </li>

                <li class="fancynav-item" onclick="closeNav();">
                    <a class="fancynav-link" href="#page-portfolio" onclick="closeNav();" ontouchstart="closeNav();"><span
                            class="fancynav-link-content"
                            style="color: #fff">Portfolio</span></a>
                </li>
                <li class="fancynav-item" onclick="closeNav();">
                    <a class="fancynav-link" href="#default-why-us" onclick="closeNav();" ontouchstart="closeNav();"><span
                            class="fancynav-link-content"
                            style="color: #fff">About</span></a>
                </li>
                <li class="fancynav-item" onclick="closeNav();">
                    <a class="fancynav-link" href="#contact" onclick="closeNav();" ontouchstart="closeNav();"><span class="fancynav-link-content"
                            style="color: #fff">Contact</span></a>
                </li>
            </ul>

                            <ul class="fancynavbar-nav mobileHide" >
                <li class="fancynav-item">
                    <a class="fancynav-link" href="."><span
                            class="fancynav-link-content"
                            style="color: #fff;">Home</span></a>
                </li>
                <li class="fancynav-item" >

                        <a class="fancynav-link" href="#default-services" onclick="closeNav();"><span
                                             
                         class="fancynav-link-content"
                         style="color: #fff">Services</span></a>

                </li>

                <li class="fancynav-item">
                    <a class="fancynav-link" href="#page-portfolio" onclick="closeNav();"><span
                            class="fancynav-link-content"
                            style="color: #fff">Portfolio</span></a>
                </li>
                <li class="fancynav-item">
                    <a class="fancynav-link" href="#default-why-us" onclick="closeNav();"><span
                            class="fancynav-link-content"
                            style="color: #fff">About</span></a>
                </li>
                <li class="fancynav-item">
                    <a class="fancynav-link" href="#contact" onclick="closeNav();"><span class="fancynav-link-content"
                            style="color: #fff">Contact</span></a>
                </li>
            </ul>

        </div>
    </nav>
    <!--===============================================-->
    <!--    End of Fancynav-->
    <!--===============================================-->



    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main min-vh-100" id="top">


        <!-- ============================================-->
        <!-- Preloader ==================================-->
        <div class="preloader" id="preloader">
            <div class="loader">
                <div class="line-scale-pulse-out-rapid">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
        <!-- ============================================-->
        <!-- End of Preloader ===========================-->


    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="py-0 text-center" id="bigcartel-header">
    
        <div class="bg-holder overlay overlay-1"
            style="background-image:url( '{{ header.background.cdn_url }}' );"
            data-zanim-xs='{"delay":0.4,"animation":"zoom-out",}' data-zanim-trigger="scroll">
    
        </div>
        <!--/.bg-holder-->
    
        <div class="container">
            <div class="row min-vh-100 align-items-center py-8 justify-content-center text-center">
                <div class="col-lg-8 col-xl-7" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                    <h1 class="fs-3 fs-sm-4 fs-md-5 text-white parallax display-4" data-rellax-speed="5">
                        <span class="overflow-hidden d-block">
                            <span class="d-inline-block font-weight-black" data-zanim-xs='{"delay":0.1}'>
                                <img class="img-fluid" src="{{ header.logo.cdn_url }}" /></span></span>
                    </h1>
    
                    <div class="overflow-hidden parallax" data-rellax-speed="3">
                        <h4 class="mt-3 mt-sm-4 mt-md-1 mb-3 text-300 font-weight-normal" data-zanim-xs='{"delay":0.2}'>{{ header.description }}
                            <br class="d-none d-sm-block" />{{ header.on_break }}</h4>
                    </div>
  
        {% if not header.video_modal == True %}
        <div class="parallax" data-rellax-speed="1" style="visibility: hidden;">
            <div data-zanim-xs='{"delay":0.3}' style="visibility: hidden;">

            </div>
        </div>
        </div>
        {% endif %}
   
        {% if header.video_modal == True %}
                    <div class="parallax" data-rellax-speed="1">
                        <div data-zanim-xs='{"delay":0.3}'>

            <a class="video-modal" href="{{ header.youtube_url }}" data-start="00" data-end="110">
                <svg width="50" height="50" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 274.19 274.19"
                    data-zanim-svg='{"duration":3,"ease":"CubicBezier","trigger":"scroll"}'>
                    <defs>
                        <style>
                            .play-path {
                                fill: none;
                                stroke: #ffffff;
                                stroke-linecap: round;
                                stroke-linejoin: round;
                                stroke-width: 12px;
                            }
                        </style>
                    </defs>
                    <g>
                        <path class="play-path"
                            d="M208.31,29.4A129.12,129.12,0,1,1,137.1,8m-1.48,170.53L199.94,137,104.07,79.46v113">
                        </path>
                    </g>
                </svg>
            </a>
            </div>
            </div>
            </div>
            {% endif %}
       
            <a class="indicator indicator-down" data-zanim-timeline='{"delay":2}' data-zanim-trigger="scroll" href="#default-why-us"
                data-fancyscroll="data-fancyscroll"><span class="indicator-arrow indicator-arrow-one"
                    data-zanim-xs='{"from":{"opacity":0,"y":15},"to":{"opacity":1,"y":-5,"scale":1},"ease":"Back.easeOut","duration":0.4,"delay":0.25}'></span><span
                    class="indicator-arrow indicator-arrow-two"
                    data-zanim-xs='{"from":{"opacity":0,"y":15},"to":{"opacity":1,"y":-5,"scale":1},"ease":"Back.easeOut","duration":0.4,"delay":0.5}'></span></a>
         
        <!-- end of .container-->
    
    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->


        <!-- ============================================-->
        <!-- <section> begin ============================-->
	{% if about.title %}
	<section class="bg-white py-6 py-md-8" id="default-why-us">
        
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-12 mb-2 mb-lg-5 text-center">
                        <h2 class="fs-3 fs-sm-4"><span class="text-underline">{{ about.title }}</span></h2>
                    </div>
                </div>
                <div class="row align-items-center justify-content-center">
                    <div class="col-sm-8 col-lg-4 text-lg-right mt-5 mt-lg-0 pr-lg-3 pr-xl-4">
                        <div class="overflow-hidden">
                            <p class="font-italic lead" data-zanim-xs='{"delay":0.2}' data-zanim-trigger="scroll">{{ about.left_text }}
                            
                                <br class="d-none d-xl-block" />{{ about.on_break }}</p>
                        </div>
                    </div>
                    <div class="col-sm-8 col-lg-4 mt-4 mt-lg-0 px-lg-4">
                        <img class="w-100 rounded" src="{{ about.image }}" alt=""
                            data-zanim-xs='{"animation":"zoom-out","delay":0.1}' data-zanim-trigger="scroll" />
                    </div>
                    <div class="col-sm-8 col-lg-4 mt-5 mt-lg-0 pl-lg-3 pl-xl-4">
                        <div class="overflow-hidden" style="margin-bottom: 10px;">
                            <h4 class="mb-3 text-underline font-italic" data-zanim-xs='{"delay":0.2}' data-zanim-trigger="scroll">{{about.right_title}}
                            </h4>
                        </div>
                        {% if not about.right_text == '' %}

                        <div class="overflow-hidden">
                            <p data-zanim-xs='{"delay":0.3}' data-zanim-trigger="scroll">{{ about.right_text }}</p>
                        </div>
                        {% endif %}
                        {% if not about.number_of_progress_bars == 0 %}
                        <div>

                            {% if about.number_of_progress_bars == 1 %}
                                            <div class="progress-line mr-4 mt-4" data-zanim-xs='{"delay":0.3}' data-options='{"progress":100,"text":"{{ about.progress_bar_title_1 }}"}'></div>
                            {% endif %}
                            {% if about.number_of_progress_bars == 2 %}
                                <div class="progress-line mr-4 mt-4" data-zanim-xs='{"delay":0.3}'
                                    data-options='{"progress":100,"text":"{{ about.progress_bar_title_1 }}"}'></div>
                                <div class="progress-line mr-4 mt-4" data-zanim-xs='{"delay":0.4}'
                                    data-options='{"progress":100,"text":"{{ about.progress_bar_title_2 }}"}'>
                            {% endif %}
                            {% if about.number_of_progress_bars == 3 %}
                                <div class="progress-line mr-4 mt-4" data-zanim-xs='{"delay":0.3}'
                                    data-options='{"progress":100,"text":"{{ about.progress_bar_title_1 }}"}'></div>
                                <div class="progress-line mr-4 mt-4" data-zanim-xs='{"delay":0.4}'
                                    data-options='{"progress":100,"text":"{{ about.progress_bar_title_2 }}"}'>
                                </div>
                                <div class="progress-line mr-4 mt-4" data-zanim-xs='{"delay":0.5}'
                                    data-options='{"progress":100,"text":"{{ about.progress_bar_title_3 }}"}'></div>
                            {% endif %}
                            {% if about.number_of_progress_bars == 4 %}
                            
                            <div class="progress-line mr-4 mt-4" data-zanim-xs='{"delay":0.3}'
                                data-options='{"progress":100,"text":"{{ about.progress_bar_title_1 }}"}'></div>
                            <div class="progress-line mr-4 mt-4" data-zanim-xs='{"delay":0.4}'
                                data-options='{"progress":100,"text":"{{ about.progress_bar_title_2 }}"}'>
                            </div>
                            <div class="progress-line mr-4 mt-4" data-zanim-xs='{"delay":0.5}' data-options='{"progress":100,"text":"{{ about.progress_bar_title_3 }}"}'></div>
                            <div class="progress-line mr-4 mt-4" data-zanim-xs='{"delay":0.6}' data-options='{"progress":100,"text":"{{ about.progress_bar_title_4 }}"}'>
                            </div>
                            {% endif %}
                    </div>
                    {% endif %}

                    {% if about.name_and_signature == True %}
                    <div class="overflow-hidden">
                        <h5 class="mt-4" data-zanim-xs='{"delay":0.2}'>Drew Henderson</h5>
                    </div>
                    <div class="overflow-hidden">
                        <h6 class="text-700" data-zanim-xs='{"delay":0.3}'>CEO &amp; Founder, Henderson Construction.</h6>
                    </div>
                                        <div>
                                            <img src="{{ about.signature_file.url }}" alt="" height="40" width="150" />
                                            <br />
                                        </div>

                    {% endif %}
                        
                    </div>
                </div>
            </div>
            <!-- end of .container-->
        
        </section>

        {% endif %}
        <!-- <section> close ============================-->
        <!-- ============================================-->
  

 
    <!-- ============================================-->
    <!-- <section> begin ============================-->
    {% if typed.background.cdn_url %}
    <section class="text-center pt-4 pb-0" id="bicycle-features" >

        <div class="container-fluid">
            <div class="row">

                 
                <div class="col px-4">
                    <div class="position-relative overflow-hidden rounded">
                        <div class="bg-holder overlay parallax"
                            style="background-image:url( '{{ typed.background.cdn_url }}' );" data-rellax-percentage="0.5">
                        </div>
                        <!--/.bg-holder-->
        
                  
                        <div class="position-relative py-8 py-md-11 " data-zanim-timeline="{}" data-zanim-trigger="scroll" data-rellax-percentage="0.5">
                            <h1 class="overflow-hidden mt-4 text-white" style="text-shadow: 4px 4px 8px rgb(22, 22, 22);">{{ typed.static_text }}
                                <br class="d-sm-none" /><span class="typed-text font-italic text-serif font-weight-light"
                                    data-typed-text='["{{ typed.typed_text_1 }}","{{ typed.typed_text_2 }}"]'></span></h1>
                        
	                        </div>
	                    </div>
	                </div>
	            </div>    
	        </div>
	    </section>
	{% endif %}
	<!-- <section> close ============================-->
	<!-- ============================================-->


    <!-- ============================================-->
    <!-- <section> begin ============================-->
    {% if service_title.title %}
    <section id="default-services">
    
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 mb-5 mb-md-7 text-center">
                    <h2 class="fs-3 fs-sm-4"><span class="text-underline">{{service_title.title}}</span></h2>
                </div>


		{% if services.1.title%}
                <div class="col-lg-5 pr-lg-4 mb-4">
                    <div class="media" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                        <div class="oveflow-hidden">
                            <img class="media-img mr-3 mr-sm-4" src="{{ services.1.icon.url }}" alt=""
                                data-zanim-xs='{"delay":0.2,"animation":"slide-right"}' />
                        </div>
                        <div class="media-body">
                            <div class="overflow-hidden">
                                
                                <h4 class="mb-2" data-zanim-xs='{"delay":0.1,"animation":"slide-right"}'>{{ services.1.title }}</h4>
                                
                            </div>
                            <div class="overflow-hidden">
                                <p data-zanim-xs='{"delay":0.2,"animation":"slide-right"}'>{{ services.1.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
		{% endif %}


		{% if services.2.title %}
                <div class="col-lg-5 pr-lg-4 mb-4">
                    <div class="media" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                        <div class="oveflow-hidden">
                            <img class="media-img mr-3 mr-sm-4" src="{{ services.2.icon.url }}" alt=""
                                data-zanim-xs='{"delay":0.2,"animation":"slide-right"}' />
                        </div>
                        <div class="media-body">
                            <div class="overflow-hidden">
                     
                                <h4 class="mb-2" data-zanim-xs='{"delay":0.1,"animation":"slide-right"}'>{{ services.2.title }}</h4>
                          
                            </div>
                            <div class="overflow-hidden">
                                <p data-zanim-xs='{"delay":0.2,"animation":"slide-right"}'>{{ services.2.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
        	{% endif %}     
	
		{% if services.3.title %}
                <div class="col-lg-5 pr-lg-4 mb-4">
                    <div class="media" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                        <div class="oveflow-hidden">
                            <img class="media-img mr-3 mr-sm-4" src="{{ services.3.icon.url }}" alt=""
                                data-zanim-xs='{"delay":0.2,"animation":"slide-right"}' />
                        </div>
                        <div class="media-body">
                            <div class="overflow-hidden">
                                <h4 class="mb-2" data-zanim-xs='{"delay":0.1,"animation":"slide-right"}'>{{ services.3.title }}
                                </h4>
                            </div>
                            <div class="overflow-hidden">
                                <p data-zanim-xs='{"delay":0.2,"animation":"slide-right"}'>{{ services.3.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
		{% endif %}

		{% if services.4.title %}
                <div class="col-lg-5 pr-lg-4 mb-4">
                    <div class="media" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                        <div class="oveflow-hidden">
                            <img class="media-img mr-3 mr-sm-4" src="{{ services.4.icon.url }}" alt=""
                                data-zanim-xs='{"delay":0.2,"animation":"slide-right"}' />
                        </div>
                        <div class="media-body">
                            <div class="overflow-hidden">
                                <h4 class="mb-2" data-zanim-xs='{"delay":0.1,"animation":"slide-right"}'>{{ services.4.title }}</h4>
                            </div>
                            <div class="overflow-hidden">
                                <p data-zanim-xs='{"delay":0.2,"animation":"slide-right"}'>{{ services.4.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
		{% endif %}


		{% if services.5.title %}
                <div class="col-lg-5 pr-lg-4 mb-4 mb-lg-0">
                    <div class="media" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                        <div class="oveflow-hidden">
                            <img class="media-img mr-3 mr-sm-4" src="{{ services.5.icon.url }}" alt=""
                                data-zanim-xs='{"delay":0.2,"animation":"slide-right"}' />
                        </div>
                        <div class="media-body">
                            <div class="overflow-hidden">
                                <h4 class="mb-2" data-zanim-xs='{"delay":0.1,"animation":"slide-right"}'>{{ services.5.title }}</h4>
                            </div>
                            <div class="overflow-hidden">
                                <p data-zanim-xs='{"delay":0.2,"animation":"slide-right"}'>{{ services.5.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
		{% endif %}

		{% if services.6.title %}
                <div class="col-lg-5 pr-lg-4">
                    <div class="media" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                        <div class="oveflow-hidden">
                            <img class="media-img mr-3 mr-sm-4" src="{{ services.6.icon.url }}" alt=""
                                data-zanim-xs='{"delay":0.2,"animation":"slide-right"}' />
                        </div>
                        <div class="media-body">
                            <div class="overflow-hidden">
                                <h4 class="mb-2" data-zanim-xs='{"delay":0.1,"animation":"slide-right"}'>{{ services.6.title }}
                                </h4>
                            </div>
                            <div class="overflow-hidden">
                                <p data-zanim-xs='{"delay":0.2,"animation":"slide-right"}'>{{ services.6.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
		{% endif %}
                

	                {% if services.7.title %}

			<div class="col-lg-5 pr-lg-4 mb-4">
                                    <div class="media" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                                        <div class="oveflow-hidden">
                                            <img class="media-img mr-3 mr-sm-4" src="{{ services.7.icon.url }}" alt=""
                                                data-zanim-xs='{"delay":0.2,"animation":"slide-right"}' />
                                        </div>
                                        <div class="media-body">
                                            <div class="overflow-hidden">
                                
                                                <h4 class="mb-2" data-zanim-xs='{"delay":0.1,"animation":"slide-right"}'>{{ services.7.title }}</h4>
                                
                                            </div>
                                            <div class="overflow-hidden">
                                                <p data-zanim-xs='{"delay":0.2,"animation":"slide-right"}'>{{ services.7.description }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

				{% endif %}

				{% if services.8.title %}
                                    <div class="col-lg-5 pr-lg-4 mb-4">
                                        <div class="media" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                                            <div class="oveflow-hidden">
                                                <img class="media-img mr-3 mr-sm-4" src="{{ services.8.icon.url }}" alt=""
                                                    data-zanim-xs='{"delay":0.2,"animation":"slide-right"}' />
                                            </div>
                                            <div class="media-body">
                                                <div class="overflow-hidden">
                                    
                                                    <h4 class="mb-2" data-zanim-xs='{"delay":0.1,"animation":"slide-right"}'>{{ services.8.title }}</h4>
                                    
                                                </div>
                                                <div class="overflow-hidden">
                                                    <p data-zanim-xs='{"delay":0.2,"animation":"slide-right"}'>{{ services.8.description }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
				    {% endif %}

				    {% if services.9.title %}
                                    <div class="col-lg-5 pr-lg-4 mb-4">
                                        <div class="media" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                                            <div class="oveflow-hidden">
                                                <img class="media-img mr-3 mr-sm-4" src="{{ services.9.icon.url }}" alt=""
                                                    data-zanim-xs='{"delay":0.2,"animation":"slide-right"}' />
                                            </div>
                                            <div class="media-body">
                                                <div class="overflow-hidden">
                                                    <h4 class="mb-2" data-zanim-xs='{"delay":0.1,"animation":"slide-right"}'>{{ services.9.title }}
                                                    </h4>
                                                </div>
                                                <div class="overflow-hidden">
                                                    <p data-zanim-xs='{"delay":0.2,"animation":"slide-right"}'>{{ services.9.description }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
				    {% endif %}

			   {% if services.10.title %}
                            <div class="col-lg-5 pr-lg-4 mb-4">
                                <div class="media" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                                    <div class="oveflow-hidden">
                                        <img class="media-img mr-3 mr-sm-4" src="{{ services.10.icon.url }}" alt=""
                                            data-zanim-xs='{"delay":0.2,"animation":"slide-right"}' />
                                    </div>
                                    <div class="media-body">
                                        <div class="overflow-hidden">
                                            <h4 class="mb-2" data-zanim-xs='{"delay":0.1,"animation":"slide-right"}'>{{ services.10.title }}</h4>
                                        </div>
                                        <div class="overflow-hidden">
                                            <p data-zanim-xs='{"delay":0.2,"animation":"slide-right"}'>{{ services.10.description }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
			    {% endif %}

			    {% if services.11.title %}
                            <div class="col-lg-5 pr-lg-4 mb-4 mb-lg-0">
                                <div class="media" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                                    <div class="oveflow-hidden">
                                        <img class="media-img mr-3 mr-sm-4" src="{{ services.11.icon.url }}" alt=""
                                            data-zanim-xs='{"delay":0.2,"animation":"slide-right"}' />
                                    </div>
                                    <div class="media-body">
                                        <div class="overflow-hidden">
                                            <h4 class="mb-2" data-zanim-xs='{"delay":0.1,"animation":"slide-right"}'>{{ services.11.title }}</h4>
                                        </div>
                                        <div class="overflow-hidden">
                                            <p data-zanim-xs='{"delay":0.2,"animation":"slide-right"}'>{{ services.11.description }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
			    {% endif %}

			    {% if services.12.title %}
                                            <div class="col-lg-5 pr-lg-4">
                                                <div class="media" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                                                    <div class="oveflow-hidden">
                                                        <img class="media-img mr-3 mr-sm-4" src="{{ services.12.icon.url }}" alt=""
                                                            data-zanim-xs='{"delay":0.2,"animation":"slide-right"}' />
                                                    </div>
                                                    <div class="media-body">
                                                        <div class="overflow-hidden">
                                                            <h4 class="mb-2" data-zanim-xs='{"delay":0.1,"animation":"slide-right"}'>{{ services.12.title }}
                                                            </h4>
                                                        </div>
                                                        <div class="overflow-hidden">
                                                            <p data-zanim-xs='{"delay":0.2,"animation":"slide-right"}'>{{ services.12.description }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
					{% endif %}		
	    </div>
        <div class="row justify-content-center" data-zanim-xs='{"delay":0.2}'>
            <a class="btn btn-outline-dark border-2x mt-3" href="#page-portfolio">see some of our works</a>
        </div>
	</div>
	<!-- end of .container-->
    
    </section>
    {% endif %}
    
    <!-- <section> close ============================-->
    <!-- ============================================-->

    <!-- ============================================-->
    <!-- <section> begin ============================-->
    {% if not portfolio_main == None %}
    <section class="py-lg-7" id="page-portfolio" style="background-color: rgb(247, 247, 247);">
    
        <div class="container">
            <div class="row mb-5 mb-lg-7">
                <div class="col-lg-6">
                    
                    <h1 class="text-underline d-inline fs-4 fs-md-5">{{ portfolio_main.title }}</h1>
                    <p class="mt-3">{{ portfolio_main.description }}</p>
                    
                </div>
            </div>

            <div class="sortable min-vh-100" data-options='{"layoutMode":"packery"}'>
                <div class="menu mb-2">
                    <div class="item active" data-filter="*">all</div>
                    {% for cat in categories %}
                    {% with value=cat.0 verbose=cat.1 %}
                    <div class="item" data-filter=".{{ value }}">{{ verbose }}</div>
                    {% endwith %}
                    {% endfor %}
                </div>
                    
            <div class="row no-gutters sortable-container sortable-container-gutter-fix" data-zanim-timeline="{}"
                data-zanim-trigger="scroll">

                <div class="col-6 col-md-3 sortable-item p-2 {{ ordered_images.1.cat_link|cut:' ' }}">
                    <div class="hoverbox rounded overflow-hidden" data-zanim-xs='{"animation":"zoom-in"}'>
  
                        <img class="w-100" src="{{ ordered_images.1.photo.cdn_url }}-/scale_crop/263x363/center/" alt="" 
                          />
                        {% if ordered_images.1 %}
                        {% if not ordered_images.1.description == '' %}
                          <div class="hoverbox-content bg-dark d-flex align-items-center justify-content-center text-center">
                            <div class="px-4">
                            
                                <h5 class="text-white">{{ ordered_images.1.description }}</h5>
                            
                                <!-- <a class="btn btn-outline-light btn-xs mt-3" href="#">learn more</a> -->
                            
                            </div>
                        </div>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
              

	
		<div class="col-6 col-md-3 sortable-item p-2 {{ ordered_images.2.cat_link|cut:' ' }}" href="../../../media/pages/assets/img/gallery/07-f.jpg" data-lightbox="image"
                    data-title="my caption">
                   
                    <img class="rounded w-100 fit-cover" src="{{ ordered_images.2.photo.cdn_url }}-/scale_crop/263x189/center/" alt=""
                        data-zanim-xs='{"animation":"zoom-in","delay":0.1}' />
                      
                </div>

                <div class="col-6 col-md-3 sortable-item p-2 {{ ordered_images.3.cat_link|cut:' ' }}" href="../../../media/pages/assets/img/gallery/09-f.jpg" data-lightbox="image"
                    data-title="my caption">
                    <img class="rounded w-100 fit-cover" src="{{ ordered_images.3.photo.cdn_url }}-/scale_crop/263x189/center/" alt=""
                        data-zanim-xs='{"animation":"zoom-in","delay":0.7}' />
                </div>

                <div class="col-6 col-md-3 sortable-item p-2 {{ ordered_images.4.cat_link|cut:' ' }}">
                    <div class="hoverbox rounded overflow-hidden" data-zanim-xs='{"animation":"zoom-in","delay":0.2}'>
                        <img class="w-100 fit-cover" src="{{ ordered_images.4.photo.cdn_url }}-/scale_crop/263x363/center/" alt="" />
                        {% if ordered_images.4 %}
                        {% if not ordered_images.4.description == '' %}
                        <div class="hoverbox-content bg-dark d-flex align-items-center justify-content-center text-center">
                
                            <div class="px-4">
                                <h5 class="text-white">{{ ordered_images.4.description }}</h5>
                                <!-- <a class="btn btn-outline-light btn-xs mt-3" href="#">learn more</a> -->
                
                            </div>
                
                        </div>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>

                <div class="col-6 col-md-3 sortable-item p-2 {{ ordered_images.6.cat_link|cut:' ' }}">
                    <div class="hoverbox rounded overflow-hidden" data-zanim-xs='{"animation":"zoom-in","delay":0.2}'>
                        <img class="w-100 fit-cover" src="{{ ordered_images.6.photo.cdn_url }}-/scale_crop/263x363/center/" alt="" />
                    {% if ordered_images.6 %}
                    {% if not ordered_images.6.description == '' %}
                        <div class="hoverbox-content bg-dark d-flex align-items-center justify-content-center text-center">
                            
                            <div class="px-4">
                                <h5 class="text-white">{{ ordered_images.6.description }}</h5> 
                                <!-- <a class="btn btn-outline-light btn-xs mt-3" href="#">learn more</a> -->
                                
                            </div>
                            
                        </div>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>

                <div class="col-6 col-md-3 sortable-item p-2 {{ ordered_images.7.cat_link|cut:' ' }}">
                    <div class="hoverbox rounded overflow-hidden" data-zanim-xs='{"animation":"zoom-in","delay":0.2}'>
                        <img class="w-100 fit-cover" src="{{ ordered_images.7.photo.cdn_url }}-/scale_crop/263x363/center/" alt="" />
                        {% if ordered_images.7 %}
                        {% if not ordered_images.7.description == '' %}
                        <div class="hoverbox-content bg-dark d-flex align-items-center justify-content-center text-center">
                
                            <div class="px-4">
                                <h5 class="text-white">{{ ordered_images.7.description }}</h5>
                                <!-- <a class="btn btn-outline-light btn-xs mt-3" href="#">learn more</a> -->
                
                            </div>
                
                        </div>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>

                <div class="col-6 col-md-3 sortable-item p-2 {{ ordered_images.5.category|cut:' ' }}" href="../../../media/pages/assets/img/gallery/10-f.jpg" data-lightbox="image"
                    data-title="my caption">
                    <img class="rounded w-100 fit-cover" src="{{ ordered_images.5.photo.cdn_url }}-/scale_crop/263x189/center/" alt=""
                        data-zanim-xs='{"animation":"zoom-in","delay":0.5}' />
                </div>
      
               

		<div class="col-6 col-md-3 sortable-item p-2 {{ ordered_images.8.cat_link|cut:' ' }}">
		    <div class="hoverbox rounded overflow-hidden" data-zanim-xs='{"animation":"zoom-in","delay":0.2}'>
		        <img class="w-100 fit-cover" src="{{ ordered_images.8.photo.cdn_url }}-/scale_crop/263x363/center/" alt="" />
		        {% if ordered_images.8 %}
		        {% if not ordered_images.8.description == '' %}
		        <div class="hoverbox-content bg-dark d-flex align-items-center justify-content-center text-center">

		            <div class="px-4">
		                <h5 class="text-white">{{ ordered_images.8.description }}</h5>
		                <!-- <a class="btn btn-outline-light btn-xs mt-3" href="#">learn more</a> -->

		            </div>

		        </div>
		        {% endif %}
		        {% endif %}
		    </div>
		</div>


                <div class="col-12 col-sm-6 sortable-item p-2 mobileshow {{ ordered_images.9.category|cut:' ' }}">
                        <div class="hoverbox rounded overflow-hidden"
                             data-zanim-xs='{"animation":"zoom-in","delay":0.3}'>

                    <img class="rounded w-100 fit-cover" src="{{ ordered_images.9.photo.cdn_url }}-/scale_crop/593x295/center/" alt=""
                        data-zanim-xs='{"animation":"zoom-in","delay":0.4}' />


                    </div>
                </div>


               {% if not slideshow == None %}
                <div class="col-12 col-sm-6 sortable-item p-2 {{ slideshow.0.category|lower }}">
                    <div class="embed-responsive embed-responsive-4by3">
                        <div class="owl-carousel owl-theme owl-dots-inner owl-theme-white embed-responsive-item"
                            data-options='{"items":1,"autoplay":true,"loop":true,"animateOut":"fadeOut","nav":true}'
                            data-zanim-xs='{"animation":"zoom-in","delay":0.8}'>
                        
                            {% for slide in slideshow %}
                            {% with count=forloop.counter len=slideshow|length %}
                            {% if count <= len %}
                            <img class="w-100 fit-cover rounded" src="{{ slide.slide_photo.cdn_url }}-/scale_crop/593x395/center/" alt="" />
                            {% endif %}
                            {% endwith %}
                            {% endfor %}
       
                     
                        </div>
                    </div>
                </div>

                {% endif %}


		 <div class="col-6 col-md-3 sortable-item p-2 mobileHide {{ ordered_images.9.cat_link|cut:' ' }}">
                    <div class="hoverbox rounded overflow-hidden" data-zanim-xs='{"animation":"zoom-in","delay":0.2}'>
                        <img class="w-100 fit-cover" src="{{ ordered_images.9.photo.cdn_url }}-/scale_crop/263x363/center/" alt="" />
                        {% if ordered_images.9 %}
                        {% if not ordered_images.9.description == '' %}
                        <div class="hoverbox-content bg-dark d-flex align-items-center justify-content-center text-center">

                            <div class="px-4">
                                <h5 class="text-white">{{ ordered_images.9.description }}</h5>

                            </div>

                        </div>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>

                 <div class="col-6 col-md-3 sortable-item p-2 mobileshow {{ ordered_images.10.cat_link|cut:' ' }}">
                    <img class="rounded w-100 fit-cover" src="{{ ordered_images.10.photo.cdn_url }}-/scale_crop/263x226/center/" alt=""
                        data-zanim-xs='{"animation":"zoom-in","delay":0.4}' />
                </div>

                 <div class="col-6 col-md-3 sortable-item p-2 mobileHide {{ ordered_images.10.cat_link|cut:' ' }}">
                    <img class="rounded w-100 fit-cover" src="{{ ordered_images.10.photo.cdn_url }}-/scale_crop/263x189/center/" alt=""
                        data-zanim-xs='{"animation":"zoom-in","delay":0.4}' />
                </div>

            </div>
          
            </div>
        </div>
        <!-- end of .container-->
    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->
    {% endif %}

    <!-- ============================================-->
    <!-- <section> begin ============================-->
    {% if not contact_us == None %}
    <section id="contact">
    
        <div class="container">
            <div class="row justify-content-center mb-lg-6" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                <div class="col-md-10 col-lg-7 col-xl-6 text-center">
                    
                    <h2 class="text-underline mb-4 fs-3 fs-sm-4">{{ contact_us.title }}</h2>
                    <p class="mb-4">{{ contact_us.description }}</p>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 order-1 order-lg-0 pr-lg-4">
                     <form class="zform" method="post">
                        
                        <input class="form-control border-300" type="hidden" name="to" value="hapsllc.ms@gmail.com" />
                        <input class="form-control border-300" type="text" name="name" placeholder="Name" required="required" />
                        <input class="form-control border-300 mt-3" type="text" name="email" placeholder="Email" required="required" />
                         <input class="form-control border-300 mt-3" name="phone_number" type="text" placeholder="Phone Number (Optional)" />
                        <textarea class="form-control border-300 mt-3" name="message" rows="9" placeholder="Your Message"
                            required="required"></textarea>
                        <button class="btn btn-block btn-dark mt-4" type="submit"><span
                                class="text-uppercase">Send</span><span
                                class="fas fa-paper-plane text-white ml-1"></span></button>
                        <div class="zform-feedback mt-4"></div>
                        {% csrf_token %}
                    </form>
		</div>
                <div class="col-lg-6 pl-lg-4">
                    <div class="googlemap rounded" data-latlng="32.333153,-90.142964" data-pov='{"heading":75,"pitch":0}'
                        data-scrollwheel="false" data-icon="../../../media/map-marker.svg" data-zoom="17" data-theme="Midnight"
                        style="height: 21.88rem;">
                        <div class="marker-content py-3">
                            <h5>Henderson Construction</h5>
                            <p>Located in Flowood right off of Lakeland,
                                <br />1765-A Lelia Dr. 101 Jackson, MS 39216.</p>
                        </div>
                    </div>
                   <div class="row align-items-center mb-8 mb-lg-3 text-center text-lg-left mt-4">
                        <div class="col-lg">
                            <p class="mb-0"><span class="text-black font-weight-black">Address:</span><span> {{ contact_us.address }}
                            </span></p>
                            <p class="mb-0"><span class="text-black font-weight-black">E-mail:</span><span
                                    class="font-italic"><a class="text-700" href="mailto:HAPSLLC.ms@gmail.com">
                                        {{contact_us.email}}</a></span></p>
                            <p class="mb-0"><span class="text-black font-weight-black">Phone:</span><span><a
                                        class="text-700" href="tel:6019550012"> {{contact_us.phone_number}}</a></span></p>
                        </div>
                        <div class="col-lg-auto mt-3 mt-lg-0">
                            <!-- <a class="btn btn-outline-dark btn-sm border-400 mr-2" href="#"><span
                                    class="fab fa-twitter"></span></a> -->
                            <a class="btn btn-outline-dark btn-sm border-400 mr-2" href="{{social_media.facebook_link}}"><span
                                    class="fab fa-facebook-f"></span></a>
			    <a class="btn btn-outline-dark btn-sm border-400" href="{{social_media.instagram_link}}"><span
                                    class="fab fa-instagram"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of .container-->
    
    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->
    {% endif %}
    
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->


    <!--===============================================-->
    <!--    Footer-->
    <!--===============================================-->
    <footer class="footer bg-black text-600 py-4 text-sans-serif text-center overflow-hidden" data-zanim-timeline="{}"
        data-zanim-trigger="scroll">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 order-lg-2">
                    <a class="indicator indicator-up" href="#top" data-fancyscroll="data-fancyscroll"><span
                            class="indicator-arrow indicator-arrow-one"
                            data-zanim-xs='{"from":{"opacity":0,"y":15},"to":{"opacity":1,"y":-5,"scale":1},"ease":"Back.easeOut","duration":0.4,"delay":0.9}'></span><span
                            class="indicator-arrow indicator-arrow-two"
                            data-zanim-xs='{"from":{"opacity":0,"y":15},"to":{"opacity":1,"y":-5,"scale":1},"ease":"Back.easeOut","duration":0.4,"delay":1.05}'></span></a>
                </div>
                <div class="col-lg-4 text-lg-left mt-4 mt-lg-0">
                    <p class="fs--1 text-uppercase ls font-weight-bold mb-0">
                        &copy; 2019 Henderson Construction&trade; inc.</p>
                </div>
                <div class="col-lg-4 text-lg-right order-lg-2 mt-2 mt-lg-0">
                    <p class="fs--1 text-uppercase ls font-weight-bold mb-0">Made <span
                           ></span>by
                        <a class="text-600" href="https://www.facebook.com/hutton.ben">Ben Hutton</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>


    <!--===============================================-->
    <!--    Modal for language selection-->
    <!--===============================================-->
    <div class="remodal bg-black remodal-select-language" data-remodal-id="language">
        <div class="remodal-close" data-remodal-action="close"></div>
        <ul class="list-unstyled pl-0 my-0 py-4 text-sans-serif">
            <li>
                <a class="pt-1 d-block text-white font-weight-semi-bold" href="#">English</a>
            </li>
            <li>
                <a class="pt-1 d-block text-500" href="#">Français</a>
            </li>
            <li>
                <a class="pt-1 d-block text-500" href="../../../media/pages/page-rtl.html">عربى</a>
            </li>
            <li>
                <a class="pt-1 d-block text-500" href="#">Deutsche</a>
            </li>
        </ul>
    </div>


    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->

    <script src="../../../media/pages/assets/js/jquery.min.js"></script>
    <script src="../../../media/pages/assets/js/popper.min.js"></script>
    <script src="../../../media/pages/assets/js/bootstrap.js"></script>
    <script src="../../../media/pages/assets/js/plugins.js"></script>
    <script src="../../../media/pages/assets/lib/loaders.css/loaders.css.js"></script>
    <script src="../../../media/pages/assets/js/stickyfill.min.js"></script>
    <script src="../../../media/pages/assets/lib/remodal/remodal.js"></script>
    <script src="../../../media/pages/assets/lib/jtap/jquery.tap.js"></script>
    <script src="../../../media/pages/assets/js/rellax.min.js"></script>
    <script src="../../../media/pages/assets/lib/owl.carousel/owl.carousel.js"></script>
    <script src="../../../media/pages/assets/lib/jquery.mb.ytplayer/jquery.mb.YTPlayer.min.js"></script>
    <script src="../../../media/pages/assets/js/theme.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfTNJPoIs0otjmPTlC-4XXZTAqkL_FCDA&callback=initMap" async></script>
    <script src="../../../media/pages/assets/js/progressbar.min.js"></script>
    <script src="../../../media/pages/assets/js/typed.js"></script>
    <script src="../../../media/pages/assets/lib/lightbox2/js/lightbox.js"></script>
    <script src="../../../media/pages/assets/lib/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="../../../media/pages/assets/lib/isotope-packery/packery-mode.pkgd.min.js"></script>
</body>

</html>
