<div id="top-bar">
    <div class="container clearfix">

        <div class="row justify-content-between">
            <div class="col-12 col-md-auto">

                <!-- Top Links
                ============================================= -->
                <div class="top-links on-click">
                    <ul class="top-links-container">
                        <li class="top-links-item"><a href="/">Home</a></li>
                        <li class="top-links-item"><a class="about_scroll" href="#">About</a></li>
                        <li class="top-links-item"><a class="contact_scroll" href="#">Contact</a></li>
                        <!-- <li class="top-links-item"><a href="contact.html">Blog</a></li> -->
                        <!-- <li class="top-links-item"><a href="index.html">Specials</a>
                            <ul class="top-links-sub-menu">
                                <li class="top-links-item"><a href="about.html">Good Sam Club Discount</a></li>
                                <li class="top-links-item"><a href="faqs.html">FMCA Discount</a></li>
                                <li class="top-links-item"><a href="contact.html">Military Discount</a></li>
                                <li class="top-links-item"><a href="sitemap.html">Rally Central</a></li>
                            </ul>
                        </li> -->
                        <!-- <li class="top-links-item"><a href="login-register.html">Login</a>
                            <div class="top-links-section">
                                <form id="top-login" autocomplete="off">
                                    <div class="form-group">
                                        <label>Username</label>
                                        <input type="email" class="form-control" placeholder="Email address">
                                    </div>
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input type="password" class="form-control" placeholder="Password" required="">
                                    </div>
                                    <div class="form-group form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="top-login-checkbox">
                                        <label class="form-check-label" for="top-login-checkbox">Remember Me</label>
                                    </div>
                                    <button class="btn btn-danger btn-block" type="submit">Sign in</button>
                                </form>
                            </div>
                        </li> -->
                        <li class="top-links-item">
                            <a class="" href="{% url 'events' %}"><div>Events</div></a>
                      
                        </li>
                        <li class="top-links-item">
                            <a class="" href="{% url 'blogs' %}"><div>Blog</div></a>
                        </li>
                        <li class="top-links-item">
                            <a class="" href="{% url 'beach_access' %}"><div>Beach Access</div></a>
                        </li>
                    </ul>
                </div><!-- .top-links end -->

            </div>

            <div class="col-12 col-md-auto">

                <!-- Top Social
                ============================================= -->
                <ul id="top-social">
                    <li><a href="https://www.facebook.com/BuenaVistaCoastalRVResort" class="si-facebook"><span class="ts-icon"><i class="icon-facebook"></i></span><span class="ts-text">Facebook</span></a></li>
                    <li><a href="https://www.youtube.com/channel/UCwqNqIOkq4y54fjK4s_gfoQ" class="si-youtube"><span class="ts-icon"><i class="icon-youtube"></i></span><span class="ts-text">YouTube</span></a></li>
                    <li><a href="https://www.instagram.com/buenavistarvresort/" class="si-instagram"><span class="ts-icon"><i class="icon-instagram2"></i></span><span class="ts-text">Instagram</span></a></li>
                    <li><a href="tel:251-980-1855" class="si-call"><span class="ts-icon"><i class="icon-call"></i></span><span class="ts-text">(251)-980-1855</span></a></li>
                    <li><a href="mailto:info@buenavistaorangebeach.com" class="si-email3"><span class="ts-icon"><i class="icon-email3"></i></span><span class="ts-text">info@buenavistaorangebeach.com</span></a></li>
                </ul><!-- #top-social end -->

            </div>

        </div>

    </div>
</div><!-- #top-bar end -->


