{% block contact %}

<!--	Start Contact
		===================================================-->
<!--	Start Contact
	===================================================-->
<section id="contact" class="py_80 bg_black full_row">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-lg-12">
				<div class="section_title_1 text-center mx-auto pb_60 wow animated slideInUp">
					<h2 class="title text-uppercase color_white"><span
							class="line_double mx-auto color_default">contact</span>Get In Touch</h2>
					<span class="sub_title color_lightgray">We're looking forward to hearing from you, contact us by
						using any of the below methods.</span>
				</div>
			</div>
			<div class="col-md-12 col-lg-12">
				<div class="row">
					<div class="col-md-4 col-lg-4">
						<div class="contact_info wow animated fadeInLeft">
							<ul>
								<li>
									<div class="contact_text">
										<h6 class="font-weight-bold color_white">Email</h6>
										<span class="color_lightgray">knightowlstudios.web@gmail.com</span>
									</div>
								</li>
								<li>
									<div class="contact_text">
										<h6 class="font-weight-bold color_white">Phone</h6>
										<span class="color_lightgray">(601) 988-4843</span>
									</div>
								</li>
								<li>
									<div class="contact_text">
										<h6 class="font-weight-bold color_white">Location</h6>
										<span class="color_lightgray">Monroe, LA</span>
									</div>
								</li>
								<li>
									<div class="contact_text">
										<h6 class="font-weight-bold color_white">Website</h6>
										<span class="color_lightgray">knightowl-studios.com</span>
									</div>
								</li>
							</ul>
						</div>
						<div class="socal_media_2 mt_15 d-inline-block white_hover">
							<ul>
								<!-- <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li> -->
							</ul>
						</div>
					</div>

					<div class="col-md-8 col-lg-8">
						<form class="form contact_message wow animated fadeInRight" id="contact-form" method="post">
							{% csrf_token %}
							<div class="row">
								<div class="col-md-6 col-lg-6">
									<div class="form-group">
										<input class="form-control bg_black" type="text" name="name"
											placeholder="Your Name" />
									</div>
								</div>
								<div class="col-md-6 col-lg-6">
									<div class="form-group">
										<input class="form-control bg_black" type="email" name="from_email"
											placeholder="Email Address" />
									</div>
								</div>
								<div class="col-md-12 col-lg-12">
									<div class="form-group">
										<input class="form-control bg_black" type="text" name="subject"
											placeholder="Subject" />
									</div>
								</div>
								<div class="col-md-12 col-lg-12">
									<div class="form-group">
										<textarea class="form-control bg_black" name="message" rows="7"
											placeholder="Message"></textarea>
									</div>
								</div>
								<div class="col-md-12 col-lg-12">
									<div class="form-group">
										<input class="btn btn-default" type="submit" style="color:rgb(69, 76, 90);" />
									</div>
								</div>
								<div class="col-md-12 col-lg-12">
									<div class="error-handel">
										<div id="success">Your email sent Successfully, Thank you.</div>
										<div id="error"> Error occurred while sending email. Please try again later.</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 col-lg-12" style="margin-bottom:10px;">
									<p style="color: rgb(105, 105, 105);">All fields required</p>
								</div>
							</div>
						</form>


					</div>
				</div>
			</div>
</section>
<!--	End Contact
	===================================================-->
<!--	Start Footer
	===================================================-->
<footer class="p_20 color_lightgray bg_deepblack text-center full_row">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-lg-12">
				<div class="copyright">
					<p>Knight Owl Studios @ 2020. All Right Reserved.</p>
				</div>
			</div>
		</div>
	</div>
</footer>
<!--	End Footer
	===================================================-->

{% endblock %}