{% block home %}
<section id="main_banner" class="banner_image background4 overlay_three">
    <!-- <div id="particles-js"></div> -->
        <div class="row h-100 align-items-center">
            <div class="col-md-12 col-lg-12 home-content text-left">
                <div class="mainbanner_content">
                    <div class="container h-100">
                    <span class="pb_5 banner_title color_white">Knight Owl Studios</span>  
                    <h1 class="cd-headline clip is-full-width text-uppercase">
                        <span class="color_white">We do</span>
                        <span class="cd-words-wrapper color_default">
                            <b class="is-visible">Web Design.</b>
                            <b>Development.</b>
                            <b>Branding.</b>
                        </span>
                    </h1>
                    <p class="color_white mb_30">Are you looking for a professional website that's
                        customized to fit your specific needs? You're in the right place. Knight Owl Studios will go above
                        and beyond to make sure you're satisfied.</p>
                    <a class="btn btn-default" style="color:#232323;" href="#pricing">Get A Website</a>
                </div>
            </div>          
        </div>
    </div>
</section>
<!--	End Main Banner 
==================================================-->
{% endblock %}