{% block portfolio %}
	<!--	Start Portfolio
	===================================================-->
	<section id="portfolio" class="py_80 bg_deepblack full_row">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-12">
					<div class="section_title_1 text-center mx-auto pb_60 wow animated slideInUp">
	                    <h2 class="title text-uppercase color_white"><span class="line_double mx-auto color_default">portfolio</span>Recent Projects</h2>
	                    <span class="sub_title color_lightgray"></span>
	                </div>
				</div>
				<div class="col-md-12 col-lg-12">
					<div class="my_portfolio" id="tab-panel"> 
              			<!--Filter-->
						<div class="row">
							<div class="col-md-12">
								<div class="filters mb_30 w-100 text-center color_lightgray">
									<ul class="filter-tabs mx-auto d-inline-block">
										<li class="active filter" data-role="button" data-filter="all">All</li>
										<li class="filter" data-role="button" data-filter=".our_site">Our Site</li>
										<li class="filter" data-role="button" data-filter=".henderson_construction">Henderson Construction</li>
										<li class="filter" data-role="button" data-filter=".charlotte_meadows">Charlotte Meadows Art</li>
										<li class="filter" data-role="button" data-filter=".design">About Pages</li>										

									</ul>
								</div>
							</div>
						</div>	
			              
						<div class="filter-list">
							<div class="portfolio-items">
								<div class="row">
								  	<div class="column mix mix_all our_site mb_30 col-md-4 col-lg-4" style="margin-left:auto;margin-right:auto;">
										<div class="default-portfolio-item">
											<a href="#">
												<img src="../../static/images/portfolio/pf1.png" alt="image"/>
												<div class="overlay-box">
													<span><i class="fa fa-eye" aria-hidden="true"></i></span>
													<div class="tag">
														<ul>
															<li>Knight Owl Studios</li>
														</ul>
													</div>
												</div>
											</a>
										</div>
									</div>
									<div class="column mix mix_all henderson_construction mb_30 col-md-4 col-lg-4" style="margin-left:auto;margin-right:auto;">
										<div class="default-portfolio-item">
											<a href="https://hendersonconstruction.org" target="_new_tab">
												<img src="../../static/images/portfolio/pf2.png" alt="image" />
												<div class="overlay-box">
													<span><i class="fa fa-eye" aria-hidden="true"></i></span>
													<div class="tag">
														<ul>
															<li>Henderson Construction</li>
														</ul>
													</div>
												</div>
											</a>
										</div>
									</div>
									<div class="column mix mix_all charlotte_meadows mb_30 col-md-4 col-lg-4" style="margin-left:auto;margin-right:auto;">
										<div class="default-portfolio-item">
											<a href="https://charlottemeadowsart.com" target="_new_tab">
												<img src="../../static/images/portfolio/pf3.png" alt="image" />
												<div class="overlay-box">
													<span><i class="fa fa-eye" aria-hidden="true"></i></span>
													<div class="tag">
														<ul>
															<li>Charlott Meadows Art</li>
														</ul>
													</div>
												</div>
											</a>
										</div>
									</div>
									<div class="column mix mix_all design mb_30 col-md-4 col-lg-4">
										<div class="default-portfolio-item">
											<a href="../../static/images/portfolio/pf10.png" data-fancybox="gallery">
												<img src="../../static/images/portfolio/pf10.png" alt="image" />
												<div class="overlay-box">
													<span><i class="fa fa-eye" aria-hidden="true"></i></span>
													<div class="tag">
														<ul>
															<li>Branding,</li>
															<li>wordpress</li>
														</ul>
													</div>
												</div>
											</a>
										</div>
									</div>
									<div class="column mix mix_all design mb_30 col-md-4 col-lg-4">
										<div class="default-portfolio-item">
											<a href="../../static/images/portfolio/pf7.png" data-fancybox="gallery">
												<img src="../../static/images/portfolio/pf7.png" alt="image" />
												<div class="overlay-box">
													<span><i class="fa fa-eye" aria-hidden="true"></i></span>
													<div class="tag">
														<ul>
															<li>Web Design,</li>
															<li>wordpress</li>
														</ul>
													</div>
												</div>
											</a>
										</div>
									</div>
									<div class="column mix mix_all design mb_30 col-md-4 col-lg-4">
										<div class="default-portfolio-item">
											<a href="../../static/images/portfolio/pf6.png" data-fancybox="gallery">
												<img src="../../static/images/portfolio/pf6.png" alt="image" />
												<div class="overlay-box">
													<span><i class="fa fa-eye" aria-hidden="true"></i></span>
													<div class="tag">
														<ul>
															<li>Web Design,</li>
															<li>Web Development</li>
														</ul>
													</div>
												</div>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>		
			        </div>
				</div>
			</div>
		</div>
	</section>
	<!--	End Portfolio
	===================================================-->
{% endblock %}