{% block services %}
	<!--	Start Services
	===================================================-->
	<section id="services" class="py_80 bg_black full_row">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-12">
					<div class="section_title_1 text-center mx-auto pb_60 wow animated slideInUp">
	                    <h2 class="title text-uppercase color_white"><span class="line_double mx-auto color_default">services</span>What we do</h2>
	                    <span class="sub_title color_lightgray">Knight Owl Studios will design the look, create your branding,
                            and integrate the functionality.</span>
	                </div>
				</div>
				<div class="services_item1">
					<div class="col-md-12 col-lg-12">
						<div class="row">
							<div class="col-md-6 col-lg-4">
								<div class="service_two bg_gray color_lightgray text-center pt_15 mb_30 wow animated slideInUp">
					              <div class="srv_item_number color_lightgray"><strong>01.</strong></div>
					              <h3 class="p_20 text-uppercase color_primary">Web Design</h3>
					              <div class="srv_icon color_white"><span class="flaticon-website-design-symbol"></span></div>
					              <p>Knight Owl Studios handles all of the design aspects of your website. All we need from you is to
                                    share your design vision with us and we will make it come to life.</p>
								</div>
							</div>
							<div class="col-md-6 col-lg-4">
								<div class="service_two bg_gray color_lightgray text-center pt_15 mb_30 wow animated slideInUp">
					              <div class="srv_item_number color_lightgray"><strong>02.</strong></div>
					              <h3 class="p_20 text-uppercase color_primary">Web Development</h3>
					              <div class="srv_icon color_white"><span class="flaticon-programming"></span></div>
					              <p>Need some specific functionality but not exactly sure how it would work? Don't worry, all you
                                    have to do is tell us what you want and we will handle the rest.</p>
								</div>
							</div>
							<div class="col-md-6 col-lg-4">
								<div class="service_two bg_gray color_lightgray text-center pt_15 mb_30 wow animated slideInUp">
					              <div class="srv_item_number color_lightgray"><strong>03.</strong></div>
					              <h3 class="p_20 text-uppercase color_primary">Django</h3>
					              <div class="srv_icon color_white"><span class="flaticon-internet"></span></div>
					              <p>We use the Django framework to develop all of our websites. Django has exploded in popularity due
                                    to it's strong security and it's amplitude of abilities.</p>
								</div>
							</div>
							<!-- <div class="col-md-6 col-lg-4">
								<div class="service_two bg_gray color_lightgray text-center pt_15 mb_30 wow animated slideInUp">
					              <div class="srv_item_number color_lightgray"><strong>04.</strong></div>
					              <h3 class="p_20 text-uppercase color_primary">Graghic Design</h3>
					              <div class="srv_icon color_white"><span class="flaticon-editor"></span></div>
					              <p>Proin a ullamcorper et primis lobortis laoreet senectus. Vitae dignissim sollicitudin eleifend cursus tempus curabitur posuere nam arcu platea sodales.</p>
								</div>
							</div>
							<div class="col-md-6 col-lg-4">
								<div class="service_two bg_gray color_lightgray text-center pt_15 mb_30 wow animated slideInUp">
					              <div class="srv_item_number color_lightgray"><strong>05.</strong></div>
					              <h3 class="p_20 text-uppercase color_primary">Branding</h3>
					              <div class="srv_icon color_white"><span class="flaticon-internet"></span></div>
					              <p>Proin a ullamcorper et primis lobortis laoreet senectus. Vitae dignissim sollicitudin eleifend cursus tempus curabitur posuere nam arcu platea sodales.</p>
								</div>
							</div>
							<div class="col-md-6 col-lg-4">
								<div class="service_two bg_gray color_lightgray text-center pt_15 mb_30 wow animated slideInUp">
					              <div class="srv_item_number color_lightgray"><strong>06.</strong></div>
					              <h3 class="p_20 text-uppercase color_primary">Opencart</h3>
					              <div class="srv_icon color_white"><span class="flaticon-shopping-cart"></span></div>
					              <p>Proin a ullamcorper et primis lobortis laoreet senectus. Vitae dignissim sollicitudin eleifend cursus tempus curabitur posuere nam arcu platea sodales.</p>
								</div>
							</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--	End Services
	===================================================-->
{% endblock %}