{% block skill %}
	<!--	Start Skill
	===================================================-->
	<section id="skill" class="py_80 bg_deepblack full_row">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-12">
					<div class="section_title_1 text-center mx-auto pb_60 wow animated slideInUp">
	                    <h2 class="title text-uppercase color_white"><span class="line_double mx-auto color_default">skills</span>Design Details</h2>
	                    <span class="sub_title color_lightgray">Want to hear about the NERDY stuff behind Knight Owl Studios?  Look no further, we love to share the magic behind what we do!</span>
	                </div>
				</div>
			</div>
			<div class="my_skill">
				<div class="row">
					<div class="col-md-12 col-lg-6">
						<div class="about_myskill color_secondery wow animated slideInLeft">
							<h3 class="color_white">Some talk about our professional skills</h3>
							<p class="pt_15">At Knight Owl Studios we stay ahead of the game by using the latest and greatest technologies. We believe that the Django framework is the best platform for your website regardless of the audience you are targeting. It allows us to create a highly scalable and secure site that will support a constantly growing audience, while also providing functionality to adapt to constantly changing trends and features.</p>
							<p class="pt_15">Internally built Python-based web applications give us the power to create all the functionality and customization you will ever need in your site without facing the security risks of using plugins which are often used by many of the other web frameworks and companies.  Between the tools available and the brains behind our team no challenge is too large and no task is too daunting.</p>
						</div>
					</div>



					<div class="col-md-12 col-lg-6" style="margin-top:auto;margin-bottom:auto;">
						<div class="skill-progress wow animated slideInRight color_lightgray">
		                    <div class="prgs-bar fact-counter"> <span>Python</span>
		                        <div class="progress count wow" data-wow-duration="0ms">
		                            <div class="skill-percent"><span class="count-num" data-speed="3000" data-stop="100">0</span>%</div>
		                            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemax="100"> </div>
								</div>
							</div>
		                    <div class="prgs-bar fact-counter"> <span>Django</span>
		                        <div class="progress count wow" data-wow-duration="0ms">
		                            <div class="skill-percent"><span class="count-num" data-speed="3000" data-stop="100">0</span>%</div>
		                            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemax="100"> </div>
								</div>
							</div>
		                    <div class="prgs-bar fact-counter"> <span>Javascript</span>
		                        <div class="progress count wow" data-wow-duration="0ms">
		                            <div class="skill-percent"><span class="count-num" data-speed="3000" data-stop="100">0</span>%</div>
		                            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemax="100"> </div>
								</div>
							</div>
		                    <div class="prgs-bar fact-counter"> <span>HTML</span>
		                        <div class="progress count wow" data-wow-duration="0ms">
		                            <div class="skill-percent"><span class="count-num" data-speed="3000" data-stop="100">0</span>%</div>
		                            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemax="100"> </div>
								</div>
							</div>
		                    <div class="prgs-bar fact-counter"> <span>CSS</span>
		                        <div class="progress count wow" data-wow-duration="0ms">
		                            <div class="skill-percent"><span class="count-num" data-speed="3000" data-stop="100">0</span>%</div>
		                            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemax="100"> </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--	End Skill
	===================================================-->
{% endblock %}