
{% extends 'base.html' %}
{% load static thumbnail  %}
{% block extra_css %}
<!-- <link rel="stylesheet" href="{% static 'real-estate/real-estate.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'real-estate/css/font-icons.css' %}" type="text/css" /> -->
<style>
    .accordion.accordion-bg .acctitle,
    .accordion.accordion-bg .acctitlec {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 500;
    }
    .tab-content li {
        margin-bottom: 10px !important;
    }
    .tab-content p {
        margin-bottom: 10px !important;
    }
    .read-more {
        display: table;
        margin-left: auto;
    }    
    .read-more-mask {
        background-image: none !important;
    }
    .fullText {
        display: none;
    }
    @media (max-width: 992px){
        .who-we-are {
            padding-left: 30px !important;
            padding-right: 30px !important;
        }
	}
</style>
{% endblock %}

{% block content %}

<!-- <section id="page-title" class="page-title-mini">

    <div class="container clearfix">
        <h1>{{page_obj.page_title}}</h1>
        <span>{{page_obj.page_title_description}}</span>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">{{page_obj.page_title}}</li>
          </ol>
    </div>

</section> -->

<!-- <section id="page-title" class="page-title-parallax include-header" style="background-image:  radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{page_obj.page_title_image.url}}); padding: 120px 0;" data-bottom-top="background-position:0px 300px;" data-top-bottom="background-position:0px -300px;">

    <div class="container clearfix">
        <h1 data-animate="fadeInUp" class="fadeInUp animated">{{page_obj.page_title}}</h1>
        <span data-animate="fadeInUp" data-delay="300" class="fadeInUp animated">{{page_obj.page_title_description}}</span>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">{{page_obj.page_title}}</li>
          </ol>
    </div>

</section> -->
<section id="page-title" class="page-title-mini">

    <div class="container clearfix">
        <h1>{{page_obj.page_title}}</h1>
        <span>{{page_obj.page_title_description}}</span>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">{{page_obj.page_title}}</li>
        </ol>
    </div>

</section>
<!-- Content
============================================= -->
<section id="content">

    <div class="content-wrap mb-0 pb-0 pt-0">

        <!-- <div class="container">
                <div class="heading-block center border-bottom-0 mb-5 mx-auto" style="max-width: 640px">
                    <h3 class="nott font-secondary fw-normal" style="font-size: 36px;">Who We Are</h3>
                </div>
            <div class="row col-mb-50">
                <div class="col-md-6 mx-auto">

                    <div class="tabs tabs-justify tabs-tb tabs-alt mb-0 clearfix" id="realestate-tabs" data-active="2">

                        <ul class="tab-nav clearfix">
                            <li><a href="#realestate-tab-1">History</a></li>
                            <li><a href="#realestate-tab-2">About Us</a></li>
                            <li><a href="#realestate-tab-3">Philosophy</a></li>
                        </ul>

                        <div class="tab-container">
                            
                            {% for section in about_sections %}
                            <div class="tab-content clearfix" id="realestate-tab-{{forloop.counter}}">
                                <p>{{section.description|safe}}</p>
 
                            </div>
                            {% endfor %}
                        </div>

                    </div>

                </div>
            </div>
            
        
        </div> -->
        <div class="row align-items-stretch col-mb-50 pb-5">
            {% thumbnail page_obj.who_we_are_image "800" crop="center" as im %}
            <div class="col-lg-4 center col-padding" style="background: url({{im.url}}) center center no-repeat; background-size: cover;">
            </div>
            {% endthumbnail %}
            <div class="col-lg-8 col-sm-12 col-xs-12 text-center text-md-start px-6 pt-5 who-we-are">
                <div class="heading-block border-bottom-0 center">
                    <h3>{{page_obj.who_we_are_title}}</h3>
                </div>

                <div class="tabs tabs-justify tabs-tb tabs-alt mb-0 clearfix" id="realestate-tabs" data-active="2">

                    <ul class="tab-nav clearfix">
                        {% for tab in about_sections %}
                        <li><a href="#realestate-tab-{{forloop.counter}}">{{tab.title}}</a></li>
                        {% endfor %}
                    </ul>
    
                    <div class="tab-container" >
                        {% for section in about_sections %}
                        <div class="tab-content clearfix about-section" id="realestate-tab-{{forloop.counter}}" >
                            <p id="truncatedText" class="truncatedText" data-counter={{forloop.counter}}>{{section.description|safe|truncatechars:500}}</p>
                            <p id="fullText" class="fullText" data-counter={{forloop.counter}}>{{section.description|safe}}</p>
                            <a href="#" class="btn btn-link text-primary read-more" onclick="readMore(event)" id="readMoreBtn">Read More <i class="icon-angle-down"></i></a>
                        </div>
                        {% endfor %}
                    </div>
    
                </div>

            </div>
        </div>
        <div class="section clearfix mt-0">
            <div class="container clearfix">
                <div class="row mw-100 clearfix">
                    <div class="col-lg-6 col-md-12">
                        <div class="col-12">
                        <div class="heading-block border-bottom-0 mb-5 mx-auto" style="max-width: 640px">
                            <h3 class="nott font-secondary fw-normal" style="font-size: 36px;">What We Do</h3>
                        </div>

                        <div class="accordion accordion-bg">

                            {% for entry in accordion_entries %}
                            <div class="accordion-header">
                                <div class="accordion-icon">
                                    <i class="accordion-closed icon-ok-circle"></i>
                                    <i class="accordion-open icon-remove-circle"></i>
                                </div>
                                <div class="accordion-title">
                                    {{entry.title}}
                                </div>
                            </div>
                            <div class="accordion-content">{{entry.description}}</div>
                            {% endfor %}
                        </div>
                    </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                    {% thumbnail page_obj.what_we_do_image "800" crop="center" as im %}
                    <div class="h-100" style="background: url({{im.url}}) center center no-repeat; background-size: cover;margin-left:30px;">
                    </div>
                    {% endthumbnail %}
                </div>

                </div>
            </div>
        </div>

        <div class="container clearfix">
            <div class="heading-block center border-bottom-0 mb-5 mx-auto" style="max-width: 640px">
                <h3 class="nott font-secondary fw-normal" style="font-size: 36px;">Our Team</h3>
            </div>

            <div class="row col-mb-50 mb-0">

                {% for member in team_members %}
                <div class="col-lg-3 col-12">

                    <div class="team team-list row align-items-center">
                        <div class="team-image ">
                            <img src="{{member.image.url}}" alt="{{member.name}}">
                            <div class="team-title"><h4>{{member.name}}</h4><span>{{member.job_title}}</span></div>

                        </div>
                        <!-- <div class="team-desc col-sm-6">
                            <div class="team-title"><h4>{{member.name}}</h4><span>{{member.job_title}}</span></div>
                        </div> -->
                    </div>

                </div>
                {% endfor %}
            </div>
        </div>

    </div><!-- .content-wrap end -->
</section><!-- #content end -->

   

{% endblock %}


{% block extra_js %}
<script>
    function hideFullTextOnLoad(){
        let fullTextEls = $(document).find('.fullText');
        $.each(fullTextEls, function(index){
            let fullTextElSiblings = $(fullTextEls[index]).parent().children();
            $.each(fullTextElSiblings, function(index){
                let tagName = $(fullTextElSiblings[index]).get(0).tagName;
                if (index > 2 && tagName == 'P'){
                    $(fullTextElSiblings[index]).css('display', 'none');
                }
            });
        });
    }hideFullTextOnLoad();
</script>

<script>
    function hideFullTextByEl(el){
        let fullTextEls = $(document).find('.fullText');

            let fullTextElSiblings = $(el).parent().children();
            $.each(fullTextElSiblings, function(index){
                let tagName = $(fullTextElSiblings[index]).get(0).tagName;
                if (index == 1 || index == 2 ){
                    $(fullTextElSiblings[index]).css('display', 'block');
                }
                if (index > 2 && tagName == 'P'){
                    $(fullTextElSiblings[index]).css('display', 'none');
                }
                if (tagName == 'A'){
                    $(fullTextElSiblings[index]).text('Read More ')
                    $(fullTextElSiblings[index]).append('<i class="icon-angle-down"></i>')
                }
            });
    }
</script>

<script>
    function showFullText(el){
        let fullTextEls = $(document).find('.fullText');

            let fullTextElSiblings = $(el).parent().children();
            $.each(fullTextElSiblings, function(index){
                let tagName = $(fullTextElSiblings[index]).get(0).tagName;
                if (index == 1 || index == 2 ){
                    $(fullTextElSiblings[index]).css('display', 'none');
                }
                if (index > 2 && tagName == 'P'){
                    $(fullTextElSiblings[index]).css('display', 'block');
                }
                if (tagName == 'A'){
                    $(fullTextElSiblings[index]).text('Read Less ')
                    $(fullTextElSiblings[index]).append('<i class="icon-angle-up"></i>')
                }
            });
    }
</script>

<script>
    function readMore(event){
        event.preventDefault();
        let el = $(event.target);
        
        if ($(event.target).get(0).tagName == 'I'){
            el = $(event.target).parent();
        }

        if (el.hasClass('read_less')){
            hideFullTextByEl(el)
        } else {
            showFullText(el);
        }
        el.toggleClass('read_less');

    }
</script>
{% endblock %}
