{% extends 'base.html' %}
{% load static %}

{% block title %}<title>{{seo.title}}</title>{% endblock %}
{% block description %}<meta name="description" content="{{seo.description}}" />{% endblock %}
{% block keywords %}<meta name="keywords" content="{{meta_tags}}" />{% endblock %}
{% block image %}<meta property="og:image" content="https://ucarecdn.com/00f29fa9-0fda-484a-a0b4-3d5425394f23/LogoCobaltandCoralSquare.png">{% endblock %}
{% block analytics %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-196612514-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-196612514-1');
</script>
{% endblock %}

{% block header %}
    {% include 'header-color.html' %}
{% endblock %}

{% block extra_css %}
<style>

  #boxes {
    position: relative;
    z-index: 100;
  }
  .box {
    position: absolute;
    width: 80%;
    height: auto;
    background-color: transparent;
    top: 0;
  }
  .popup {
    position: absolute;/*VERY IMPORTANT*/
    max-width: 450px;
    max-height: 200px;
    height: 200px;
    background-color: #2c4c62;

  }
 
  .imagescalein {
    background: none !important;
    border: none !important;
  }

  .card-text-padding {
    padding-bottom: 25px;
    background: none !important;
    background-color: transparent !important;
    border: none;

  
}

  .mw-card {
    min-width: 450px;
  }

  .page-title-description {
            width: 85%;
        }
      
  .pending-sale-img {
    position: absolute;
  }

@media (max-width: 992px) {

#boxes {
  position: relative;
  z-index: 100;
}
.box {
  position: absolute;
  width: 80%;
  height: auto;
  background-color: transparent;
  top: 0;
}
.popup {
  position: absolute;/*VERY IMPORTANT*/
  max-width: 450px;
  max-height: 200px;
  height: 200px;
  background-color: #2c4c62;
}

.imagescalein {
  background: none !important;
  background-color: transparent !important;
  border: none;
}

.imagescalein .row {
  flex-wrap: nowrap !important;
}

.card-text-padding {
  padding-bottom: 5px;
}

.mw-card {
  min-width: 350px; 
  width: 350px;
  }

}

@media (max-width: 767px) {
            .page-title-description {
                font-size: 14px !important;
                width: 100% !important;
            }
        }
</style>
{% endblock %}
{% block content %}
<!-- <section id="page-title" class="page-title-parallax include-header" style="background: radial-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url({{page_title.background_image}}); padding: 120px 0;background-size: cover !important;" data-bottom-top="background-position:0px 300px;" data-top-bottom="background-position:0px -300px;">
  <div class="container clearfix">
    <h1 data-animate="fadeInUp">{{page_title.title}}</h1>
    <span data-animate="fadeInUp" data-delay="300">{{page_title.description}}</span>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Lots</li>
    </ol>
  </div>

</section> -->
<!-- #page-title end -->
<!-- <section id="page-title" class="page-title" style="background: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));"> -->
  <section id="page-title" class="page-title-parallax page-title-dark skrollable skrollable-between" style="background-image:  radial-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url({{page_title.background_image.cdn_url}}); background-size: cover; padding: 90px 0px; background-position: 0px -176.055px;max-height: 300px;" data-bottom-top="background-position:0px 0px;" data-top-bottom="background-position:0px -300px;">

    <div class="container clearfix">
      <h2>{{page_title.title}}</h2>
      <span class="page-title-description">{{page_title.description}}</span>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">View Lots</li>
      </ol>
    </div>

  </section>

<section class="p-6 mt-0">

  <div class="">
    <div class="col-sm-12 col-md-12 col-lg-8  mx-auto p-0">
      <img class="mx-auto" src="{% static 'images/buena-vista/pics/site-map.jpg' %}" usemap="#image-map">
      <div class="map-hovers">
        <div class="boxes">
          {% for lot in lots %}
          {% with counter=forloop.counter %}
          <div class="box" id="box{{counter}}" >

            <div class="popup w-100" id="popup{{counter}}" name="lot-{{lot.number}}" onMouseLeave="popupMouseLeave(event);">
              <div class="">
                <div class="card imagescalein mw-card w-100">
                  <div class="row no-gutters align-items-center">
                      <div class="col-xs-8 col-sm-8 col-md-8 p-4">
                      <div class="card-body p-0">
                        <h3 class="card-title">Lot {{lot.number}}</h3>
                        <p class="card-text card-text-padding mb-2">
                          {% if not lot.id in empty_lots_for_sale %}
                            {% if lot.package == 'standard' %}Standard - Starting at $65/night{% endif %}
                            {% if lot.package == 'moderate' %}Moderate - Starting at $95/night{% endif %}
                            {% if lot.package == 'deluxe' %}Deluxe - Starting at $120/night{% endif %}
                            {% if lot.package == 'luxury' %}Luxury - Starting at $190/night{% endif %}
                          {% else %}
			      {% if not lot.id in pending %}
                                  Lot for sale, $209,000.
                              {% else %}
                                  Sale Pending.
                              {% endif %} 
                         
                          {% endif %}
                        </p>
                        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                        <a href="{% url 'lot_single' id=lot.id %}" class="btn button-coral text-white">View Lot {{lot.number}}</a>
                      </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 d-flex align-self-stretch overflow-hidden" style="height: 200px;max-height: 200px;">
                        <img src="{{lot.image_set.first.image.cdn_url}}-/scale_crop/300x400/center/" class="rounded-right" alt="...">
                      </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          {% endwith %}
          {% endfor %}
        </div>
      </div>
    </div>
    <map name="image-map" class="map-areas">

     
      <area id="lot-1-area" target="" alt="" title="" href="#" coords="433,926,475,964,456,982,429,956,436,950,422,938" shape="poly" onMouseOver="areaMouseEnter(event);" onMouseOut="areaMouseLeave(event);" style="z-index: 999;">
      <area id="lot-2-area" target="" alt="" title="" href="#" coords="403,956,406,962,413,967,421,967,446,992,429,1011,401,985,409,979,395,966" shape="poly" onMouseOver="areaMouseEnter(event);" onMouseOut="areaMouseLeave(event);" style="z-index: 999;">
      <area id="lot-3-area" target="" alt="" title="" href="#" coords="372,990,384,1002,389,994,417,1021,399,1039,371,1011,369,1004" shape="poly" onMouseOver="areaMouseEnter(event);" onMouseOut="areaMouseLeave(event);" style="z-index: 999;">

      <area id="lot-4-area" target="" alt="" title="" href="#" coords="308,1053,297,1056,305,1063,267,1079,256,1054,298,1042" shape="poly" onMouseOver="areaMouseEnter(event);" onMouseOut="areaMouseLeave(event);" style="z-index: 999;">
      <area id="lot-5-area" target="" alt="" title="" href="#" coords="297,1034,281,1031,281,1039,261,1038,261,1030,251,1029,251,1015,297,1014" shape="poly" onMouseOver="areaMouseEnter(event);" onMouseOut="areaMouseLeave(event);" style="z-index: 999;">
      <area id="lot-6-area" target="" alt="" title="" href="#" coords="301,1010,292,1006,286,1010,273,999,277,990,269,984,280,974,309,998" shape="poly" onMouseOver="areaMouseEnter(event);" onMouseOut="areaMouseLeave(event);" style="z-index: 999;">
      <area id="lot-7-area" target="" alt="" title="" href="#" coords="317,988,294,957,317,944,337,973,344,986,331,989,326,985" shape="poly" onMouseOver="areaMouseEnter(event);" onMouseOut="areaMouseLeave(event);" style="z-index: 999;">
      <area id="lot-8-area" target="" alt="" title="" href="#" coords="368,967,353,956,347,962,319,934,336,916,377,955" shape="poly" onMouseOver="areaMouseEnter(event);" onMouseOut="areaMouseLeave(event);" style="z-index: 999;">
      <area id="lot-9-area" target="" alt="" title="" href="#" coords="390,942,377,929,370,934,343,908,362,890,402,929" shape="poly" onMouseOver="areaMouseEnter(event);" onMouseOut="areaMouseLeave(event);" style="z-index: 999;">
      <area id="lot-10-area" target="" alt="" title="" href="#" coords="416,918,400,902,395,910,368,882,385,862,428,905" shape="poly" onMouseOver="areaMouseEnter(event);" onMouseOut="areaMouseLeave(event);" style="z-index: 999;">
      <area id="lot-11-area" target="" alt="" title="" href="#" coords="440,891,426,878,421,883,393,858,412,839,451,878" shape="poly" onMouseOver="areaMouseEnter(event);" onMouseOut="areaMouseLeave(event);" style="z-index: 999;">
      <area id="lot-12-area" target="" alt="" title="" href="#" coords="496,838,483,828,476,833,451,802,473,786,505,828" shape="poly" onMouseOver="areaMouseEnter(event);" onMouseOut="areaMouseLeave(event);" style="z-index: 999;">
      <area id="lot-13-area" target="" alt="" title="" href="#" coords="523,818,514,805,505,809,481,779,504,766,537,808" shape="poly" onMouseOver="areaMouseEnter(event);" onMouseOut="areaMouseLeave(event);" style="z-index: 999;">
      <area id="lot-14-area" target="" alt="" title="" href="#" coords="551,799,546,782,537,784,522,749,547,740,561,773,561,784,567,790" shape="poly" onMouseOver="areaMouseEnter(event);" onMouseOut="areaMouseLeave(event);" style="z-index: 999;">
      <area id="lot-15-area" target="" alt="" title="" href="#" coords="584,781,580,769,580,757,570,759,569,731,577,730,577,719,594,719,597,768" shape="poly" onMouseOver="areaMouseEnter(event);" onMouseOut="areaMouseLeave(event);" style="z-index: 999;">
      <area id="lot-16-area" target="" alt="" title="" href="#" coords="617,754,616,734,607,734,604,702,615,702,613,695,630,694,633,743" shape="poly" onMouseOver="areaMouseEnter(event);" onMouseOut="areaMouseLeave(event);" style="z-index: 999;">
      <area id="lot-17-area" target="" alt="" title="" href="#" coords="656,729,654,710,646,710,642,680,651,680,650,671,668,670,672,716" shape="poly" onMouseOver="areaMouseEnter(event);" onMouseOut="areaMouseLeave(event);" style="z-index: 999;">
      <area id="lot-18-area" target="" alt="" title="" href="#" coords="693,703,691,684,682,686,681,654,689,655,688,646,706,645,707,663,706,678,708,691" shape="poly" onMouseOver="areaMouseEnter(event);" onMouseOut="areaMouseLeave(event);" style="z-index: 999;">
      <area id="lot-19-area" target="" alt="" title="" href="#" coords="720,658,715,630,725,629,724,622,743,619,746,664,729,676,728,660" shape="poly" onMouseOver="areaMouseEnter(event);" onMouseOut="areaMouseLeave(event);" style="z-index: 999;">
      <area id="lot-20-area" target="" alt="" title="" href="#" coords="764,651,768,640,767,628,761,622,752,622,754,586,782,589,785,594,786,607,788,611,793,613,785,628,776,639" shape="poly" onMouseOver="areaMouseEnter(event);" onMouseOut="areaMouseLeave(event);" style="z-index: 999;">
      <area id="lot-21-area" target="" alt="" title="" href="#" coords="619,308,563,313,547,291,585,285,592,295,608,291" shape="poly" onMouseOver="areaMouseEnter(event);" onMouseOut="areaMouseLeave(event);" style="z-index: 999;">
      <area id="lot-22-area" target="" alt="" title="" href="#" coords="595,271,531,276,520,273,517,253,559,250,564,258,581,256" shape="poly" onMouseOver="areaMouseEnter(event);" onMouseOut="areaMouseLeave(event);" style="z-index: 999;">
      <area id="lot-23-area" target="" alt="" title="" href="#" coords="536,198,541,239,525,242,522,234,514,238,510,207,519,206,517,190,525,190,530,192" shape="poly" onMouseOver="areaMouseEnter(event);" onMouseOut="areaMouseLeave(event);" style="z-index: 999;">

      <area id="lot-61-area" target="" alt="" title="" href="#" coords="475,177,453,169,451,179,417,168,429,142,429,128,429,120,450,133,441,138,443,145,454,150,474,158" shape="poly" onMouseOver="areaMouseEnter(event);" onMouseOut="areaMouseLeave(event);" style="z-index: 999;">
      <area id="lot-77-area" target="" alt="" title="" href="#" coords="479,125,500,104,496,87,521,57,534,63,536,73,539,83,545,90,555,94,540,107,535,100,525,100,515,112,501,131" shape="poly" onMouseOver="areaMouseEnter(event);" onMouseOut="areaMouseLeave(event);" style="z-index: 999;">
    
      <area id="lot-78-area" target="" alt="" title="" href="" coords="557,95,555,69,538,59,536,18,565,16,571,76,574,81" shape="poly" onMouseOver="areaMouseEnter(event);" onMouseOut="areaMouseLeave(event);" style="z-index: 999;">
      <area id="lot-79-area" target="" alt="" title="" href="" coords="589,73,586,58,577,54,575,15,603,12,604,66" shape="poly" onMouseOver="areaMouseEnter(event);" onMouseOut="areaMouseLeave(event);" style="z-index: 999;">
      <area id="lot-80-area" target="" alt="" title="" href="" coords="624,60,625,47,616,45,620,13,643,11,641,59" shape="poly" onMouseOver="areaMouseEnter(event);" onMouseOut="areaMouseLeave(event);" style="z-index: 999;">
      <area id="lot-81-area" target="" alt="" title="" href="" coords="657,58,666,47,656,37,671,11,695,12,701,16,677,58" shape="poly" onMouseOver="areaMouseEnter(event);" onMouseOut="areaMouseLeave(event);" style="z-index: 999;">
      <area id="lot-82-area" target="" alt="" title="" href="" coords="719,59,743,20,728,11,719,9,703,35,707,45,702,59" shape="poly" onMouseOver="areaMouseEnter(event);" onMouseOut="areaMouseLeave(event);" style="z-index: 999;">
      <area id="lot-83-area" target="" alt="" title="" href="" coords="745,59,753,45,748,36,763,10,769,14,773,10,787,18,765,58" shape="poly" onMouseOver="areaMouseEnter(event);" onMouseOut="areaMouseLeave(event);" style="z-index: 999;">
      <area id="lot-84-area" target="" alt="" title="" href="" coords="787,59,796,45,791,36,807,10,813,15,816,10,831,21,811,51" shape="poly" onMouseOver="areaMouseEnter(event);" onMouseOut="areaMouseLeave(event);" style="z-index: 999;">
      <area id="lot-85-area" target="" alt="" title="" href="" coords="833,52,837,47,832,40,846,13,853,18,855,13,871,23,849,60" shape="poly" onMouseOver="areaMouseEnter(event);" onMouseOut="areaMouseLeave(event);" style="z-index: 999;">
      <area id="lot-86-area" target="" alt="" title="" href="" coords="762,79,807,125,765,130,737,104,747,93,742,80" shape="poly" onMouseOver="areaMouseEnter(event);" onMouseOut="areaMouseLeave(event);" style="z-index: 999;">
      <area id="lot-87-area" target="" alt="" title="" href="" coords="698,80,704,128,731,127,727,98,717,90,718,79" shape="poly" onMouseOver="areaMouseEnter(event);" onMouseOut="areaMouseLeave(event);" style="z-index: 999;">
      <area id="lot-88-area" target="" alt="" title="" href="" coords="662,80,669,129,695,126,691,96,682,91,678,79" shape="poly" onMouseOver="areaMouseEnter(event);" onMouseOut="areaMouseLeave(event);" style="z-index: 999;">
      <area id="lot-89-area" target="" alt="" title="" href="" coords="647,80,647,91,657,97,660,127,634,128,632,103,634,96,631,88,629,82,626,81" shape="poly" onMouseOver="areaMouseEnter(event);" onMouseOut="areaMouseLeave(event);" style="z-index: 999;">
      <area id="lot-90-area" target="" alt="" title="" href="" coords="617,81,613,91,615,100,624,107,632,130,606,140,596,108,604,101,600,90" shape="poly" onMouseOver="areaMouseEnter(event);" onMouseOut="areaMouseLeave(event);" style="z-index: 999;">

      <area id="lot-91-area" target="" alt="" title="" href="#" coords="546,177,550,172,558,171,568,173,599,148,568,111,556,121,559,129,559,137,556,144,550,150,539,158,539,164,540,170" shape="poly" onMouseOver="areaMouseEnter(event);" onMouseOut="areaMouseLeave(event);" style="z-index: 999;">
      <area id="lot-92-area" target="" alt="" title="" href="#" coords="618,217,617,211,611,211,602,208,594,211,586,212,588,219,567,200,576,199,580,193,578,188,609,162,618,172,622,191,624,199,630,202,636,201,632,208,623,214" shape="poly" onMouseOver="areaMouseEnter(event);" onMouseOut="areaMouseLeave(event);" style="z-index: 999;">
      <area id="lot-93-area" target="" alt="" title="" href="#" coords="637,194,614,149,631,142,633,149,635,142,670,142,670,165,664,165,655,169,649,173" shape="poly" onMouseOver="areaMouseEnter(event);" onMouseOut="areaMouseLeave(event);" style="z-index: 999;">
      <area id="lot-94-area" target="" alt="" title="" href="#" coords="678,164,678,143,711,142,710,145,717,150,728,142,738,156,703,181,691,170" shape="poly" onMouseOver="areaMouseEnter(event);" onMouseOut="areaMouseLeave(event);" style="z-index: 999;">
      <area id="lot-95-area" target="" alt="" title="" href="#" coords="706,216,722,201,728,208,757,182,739,162,707,191,707,197,708,207" shape="poly" onMouseOver="areaMouseEnter(event);" onMouseOut="areaMouseLeave(event);" style="z-index: 999;">
      <area id="lot-96-area" target="" alt="" title="" href="#" coords="635,293,643,280,656,288,679,258,676,247,669,242,669,236,649,234,648,241,645,249,624,276" shape="poly" onMouseOver="areaMouseEnter(event);" onMouseOut="areaMouseLeave(event);" style="z-index: 999;">

      <area id="lot-102-area" target="" alt="" title="" href="#" coords="819,584,864,584,863,611,830,610,830,601,817,600,818,592" shape="poly" onMouseOver="areaMouseEnter(event);" onMouseOut="areaMouseLeave(event);" style="z-index: 999;">
      <area id="lot-103-area" target="" alt="" title="" href="#" coords="805,635,823,636,822,644,861,646,862,620,812,619" shape="poly" onMouseOver="areaMouseEnter(event);" onMouseOut="areaMouseLeave(event);" style="z-index: 999;">
      <area id="lot-104-area" target="" alt="" title="" href="#" coords="799,644,852,667,843,682,839,681,836,690,804,675,804,665,798,661,792,658,788,658" shape="poly" onMouseOver="areaMouseEnter(event);" onMouseOut="areaMouseLeave(event);" style="z-index: 999;">
      <area id="lot-105-area" target="" alt="" title="" href="#" coords="772,672,779,676,784,679,790,682,794,682,822,695,814,711,809,708,807,716,775,703,774,692,756,684" shape="poly" onMouseOver="areaMouseEnter(event);" onMouseOut="areaMouseLeave(event);" style="z-index: 999;">
      <area id="lot-106-area" target="" alt="" title="" href="#" coords="750,689,751,702,755,705,761,705,767,708,773,711,778,715,781,726,750,734,747,723,771,716,761,711,753,711,748,713,747,717,745,723,735,732,716,743,706,747,698,748,687,748,677,747,670,744,692,728,733,700" shape="poly" onMouseOver="areaMouseEnter(event);" onMouseOut="areaMouseLeave(event);" style="z-index: 999;">
      <area id="lot-107-area" target="" alt="" title="" href="#" coords="649,757,652,764,658,768,664,770,683,799,662,814,640,782,648,777,639,765" shape="poly" onMouseOver="areaMouseEnter(event);" onMouseOut="areaMouseLeave(event);" style="z-index: 999;">
      <area id="lot-108-area" target="" alt="" title="" href="#" coords="623,776,652,820,629,835,607,803,616,798,608,786" shape="poly" onMouseOver="areaMouseEnter(event);" onMouseOut="areaMouseLeave(event);" style="z-index: 999;">
      <area id="lot-109-area" target="" alt="" title="" href="#" coords="588,798,618,841,596,856,574,824,582,819,575,808" shape="poly" onMouseOver="areaMouseEnter(event);" onMouseOut="areaMouseLeave(event);" style="z-index: 999;">
      <area id="lot-110-area" target="" alt="" title="" href="#" coords="556,820,586,863,564,878,542,845,548,841,541,829" shape="poly" onMouseOver="areaMouseEnter(event);" onMouseOut="areaMouseLeave(event);" style="z-index: 999;">
      <area id="lot-111-area" target="" alt="" title="" href="#" coords="533,854,553,883,531,898,508,866,516,861,510,852,520,846,523,850,527,852" shape="poly" onMouseOver="areaMouseEnter(event);" onMouseOut="areaMouseLeave(event);" style="z-index: 999;">

    </map>
  </div>

</section>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/image-map/jquery.rwdImageMaps.js' %}"></script>
<script src="{% static 'js/image-map/jquery.rwdImageMaps.min.js' %}"></script>
<script>
  $('map[name=image-map] area').on('click',function(e){
    //... snip ...
    e.stopPropagation();
    return false;
});
</script>
<script>
function areaMouseEnter(event) {
  var _this = $(event.target);
  var idx = $(event.target).attr('id').split('-')[1];
  var popup = $('.popup[name=lot-'+idx+']');
  popup.show();

  var width = popup.width()
  var height = popup.height()
  var mouseX = event.pageX - $('img[usemap="#image-map"]').offset().left - width/2 + 2;
  var mouseY = event.pageY - $('img[usemap="#image-map"]').offset().top - height;
  var windowWidth = $(window).width()
 

  var area_id = _this.attr('id');
  var lot_name = ".popup[name=lot-"+idx+"]"
  
  // $(lot_name).css({'bottom': -Math.abs(mouseY) - 250, 'left': mouseX, 'right': Math.abs(mouseX)});
  // $(lot_name).css({'bottom': -Math.abs(mouseY**1), 'left': mouseX});
  $(lot_name).css({'top':mouseY, 'left': mouseX});
  return false;

};
function areaMouseLeave(event) {
  toEl = event.toElement || event.relatedTarget
  var _id = $(event.target).attr('id').split('-')[1];
  if($(toEl).attr('class') != 'popup') {
    $('.popup[name=lot-'+_id+']').hide();
  }
 
};
function popupMouseLeave(event) {
    var _id = $(event.target).attr('name').split('-')[1];
    $('.popup[name=lot-'+_id+']').hide();
};

$(document).ready(function() {
  $('img[usemap]').rwdImageMaps();
});
  $(document).ready(function() {
    $('img[usemap]').rwdImageMaps();
    var boxHovered, boxNumber, selector, targetedBox, adjustX, adjustY;
	$(".popup").hide();//This hides all the pop-ups when page loads
	$(".box").hover(function(){//This executes when you hover ON the box
		 boxHovered = $(this).attr("id");//Gets the id of the box such as "box1", "box2"
		 targetedBox = "#" + boxHovered;//creates a value of "#box1", "#box2", etc for future use
		 boxNumber = boxHovered.substr(3,5);//extracts the # from the id, such as 1, 2, 3
		 selector = "#popup"+boxNumber;//creates a value of "#popup1", "#popup2", etc for future use
		 $(selector).show();//This reveals the popup inside the hovered box
	},function(){//This executes when you hover OFF the box
		 $(selector).hide();//This hides the popup inside the hovered box
	});
});
</script>

{% endblock %}
